{% extends 'base.html.twig' %}

{% block title %}
    <h1>Confirmation Flyaround</h1>
{% endblock %}

{% block h2 %}
    <h2>Voyager plus et plus loin...</h2>
{% endblock %}

{% block body %}
    <div>Votre réservation est enregistrée. <br>Merci de voyager avec Flyaround!!</div>
{% endblock %}

