{% extends 'base.html.twig' %}

{% block title %}
    <h1>Reservation Flyaround</h1>
{% endblock %}

{% block body %}
  <div>Quelqu'un vient de réserver une place sur votre vol. <br>Merci de voyager avec Flyaround!!</div>
{% endblock %}

